In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from census import Census

In [2]:
# Census API key
from courtCensusKey import censusKey

In [3]:
complete_url='https://api.census.gov/data/timeseries/intltrade/exports/hs'+\
            '?get=DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC'+\
            '&E_COMMODITY=3926201010'+\
            '&YEAR=2020'+\
            '&MONTH=*'

In [4]:
response=requests.get(complete_url)
response

In [5]:
pd.DataFrame(response.json())

,0,1,2,3,4,5,6,7
0,DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC,E_COMMODITY,YEAR,MONTH
1,-,TOTAL FOR ALL DISTRICTS,1355169,1355169,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,01
2,-,TOTAL FOR ALL DISTRICTS,5125594,6480763,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,02
3,-,TOTAL FOR ALL DISTRICTS,2408079,8888842,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,03
4,-,TOTAL FOR ALL DISTRICTS,1245130,10133972,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,04
...,...,...,...,...,...,...,...,...
317,70,LOW VALUE,29864,433734,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,11
318,70,LOW VALUE,48284,482018,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,12
319,80,MAIL SHIPMENTS,2618,2618,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,10
320,80,MAIL SHIPMENTS,0,2618,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,11
321,80,MAIL SHIPMENTS,0,2618,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,12

In [6]:
#Setting variables 
year='2020'
month='*'
cols='DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC'

In [7]:
#Base URL 
base_url = 'https://api.census.gov/data/timeseries/intltrade/exports/hs'

complete_url = f'{base_url}?get={cols}&YEAR={year}&MONTH={month}'

# HTS Codes and what they represent
# 0901 - Coffee
# 480300 - Toilet Paper
# 2203 - Beer
# 2204 - Wine
# Hard alcohol - 2207

# Items in US top Exports
# Medical Equipment - $83 billion
# Plastics - $60 billion
# Pharmaceuticals - $47 billion
    # 3002 - Vaccines, Blood, and Immunological products
    # 3003 - Medication (unmeasured doses)
    # 3004 - Medication (measured doses)
    # 3005 - Medically-treated Bandages
    # 3006 - Surgical Equipment
# Organic chemicals - $39 billion

hts_list=['3002','3003','3004','3005','3006']
df_list=[]

for each_hts in hts_list:
    hts_code=each_hts
    query_params={
        'get': 'CTY_CODE,CTY_NAME,DF,DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC',
        'E_COMMODITY': hts_code,
        'YEAR': '2020',
        'MONTH': "*"
    }
    max_response=requests.get(base_url, params=query_params)
    #print(max_response.json())
    df_list.append(max_response.json()[1:])
#print(df_list)

In [8]:
productList = []
for product in df_list:
    productList += product

In [9]:
exportData2020 = pd.DataFrame(productList, columns=max_response.json()[0])
exportData2020

,CTY_CODE,CTY_NAME,DF,DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC,E_COMMODITY,YEAR,MONTH
0,-,TOTAL FOR ALL COUNTRIES,1,-,TOTAL FOR ALL DISTRICTS,1762441331,1762441331,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
1,-,TOTAL FOR ALL COUNTRIES,2,-,TOTAL FOR ALL DISTRICTS,159276910,159276910,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
2,0003,EUROPEAN UNION,-,01,"PORTLAND, ME",315420,315420,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
3,0022,OECD,-,01,"PORTLAND, ME",315420,315420,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
4,0023,NATO,-,01,"PORTLAND, ME",315420,315420,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
...,...,...,...,...,...,...,...,...,...,...,...
211185,4804,MONTENEGRO,1,80,MAIL SHIPMENTS,0,8183,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211186,4890,TURKEY,1,80,MAIL SHIPMENTS,0,20795,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211187,4XXX,EUROPE,1,80,MAIL SHIPMENTS,3628,198447,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211188,5880,JAPAN,1,80,MAIL SHIPMENTS,0,6570,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211189,5XXX,ASIA,1,80,MAIL SHIPMENTS,0,6570,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12

In [10]:
exportData2020['E_COMMODITY_SDESC'].unique()

array(['HUMAN BLOOD; ANIMAL BLOO', 'MEDICAMENTS NESOI OF MIXTU',
       'MEDICAMENTS NESOI, MIXED O', 'BANDAGES ETC COATED ETC OR',
       'PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30'], dtype=object)

In [11]:
# Rename columns
exportData2020 = exportData2020.rename(columns={"CTY_CODE": "COUNTRY_CODE", "CTY_NAME": "COUNTRY_NAME", "DF": "DOMESTIC_FOREIGN_CODE", "DIST_NAME": "DISTRICT_NAME", "ALL_VAL_MO": "ALL_VALUES_MONTH", "ALL_VAL_YR": "ALL_VALUES_YEAR", "E_COMMODITY_SDESC": "COMMODITY_DESCRIPTION", "E_COMMODITY": "COMMODITY"})
exportData2020

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,-,TOTAL FOR ALL COUNTRIES,1,-,TOTAL FOR ALL DISTRICTS,1762441331,1762441331,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
1,-,TOTAL FOR ALL COUNTRIES,2,-,TOTAL FOR ALL DISTRICTS,159276910,159276910,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
2,0003,EUROPEAN UNION,-,01,"PORTLAND, ME",315420,315420,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
3,0022,OECD,-,01,"PORTLAND, ME",315420,315420,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
4,0023,NATO,-,01,"PORTLAND, ME",315420,315420,HUMAN BLOOD; ANIMAL BLOO,3002,2020,01
...,...,...,...,...,...,...,...,...,...,...,...
211185,4804,MONTENEGRO,1,80,MAIL SHIPMENTS,0,8183,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211186,4890,TURKEY,1,80,MAIL SHIPMENTS,0,20795,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211187,4XXX,EUROPE,1,80,MAIL SHIPMENTS,3628,198447,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211188,5880,JAPAN,1,80,MAIL SHIPMENTS,0,6570,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12
211189,5XXX,ASIA,1,80,MAIL SHIPMENTS,0,6570,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2020,12

In [12]:
# Clean up commodity names
exportData2020.loc[(exportData2020.COMMODITY_DESCRIPTION == 'HUMAN BLOOD; ANIMAL BLOO'), 'COMMODITY_DESCRIPTION'] = 'Vaccines, Blood, and Immunological products'
exportData2020.loc[(exportData2020.COMMODITY_DESCRIPTION == 'MEDICAMENTS NESOI OF MIXTU'), 'COMMODITY_DESCRIPTION'] = 'Medication (unmeasured doses)'
exportData2020.loc[(exportData2020.COMMODITY_DESCRIPTION == 'MEDICAMENTS NESOI, MIXED O'), 'COMMODITY_DESCRIPTION'] = 'Medication (measured doses)'
exportData2020.loc[(exportData2020.COMMODITY_DESCRIPTION == 'BANDAGES ETC COATED ETC OR'), 'COMMODITY_DESCRIPTION'] = 'Medically-Treated Bandages'
exportData2020.loc[(exportData2020.COMMODITY_DESCRIPTION == 'PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30'), 'COMMODITY_DESCRIPTION'] = 'Surgical Equipment'
exportData2020

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,-,TOTAL FOR ALL COUNTRIES,1,-,TOTAL FOR ALL DISTRICTS,1762441331,1762441331,"Vaccines, Blood, and Immunological products",3002,2020,01
1,-,TOTAL FOR ALL COUNTRIES,2,-,TOTAL FOR ALL DISTRICTS,159276910,159276910,"Vaccines, Blood, and Immunological products",3002,2020,01
2,0003,EUROPEAN UNION,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
3,0022,OECD,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
4,0023,NATO,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
...,...,...,...,...,...,...,...,...,...,...,...
211185,4804,MONTENEGRO,1,80,MAIL SHIPMENTS,0,8183,Surgical Equipment,3006,2020,12
211186,4890,TURKEY,1,80,MAIL SHIPMENTS,0,20795,Surgical Equipment,3006,2020,12
211187,4XXX,EUROPE,1,80,MAIL SHIPMENTS,3628,198447,Surgical Equipment,3006,2020,12
211188,5880,JAPAN,1,80,MAIL SHIPMENTS,0,6570,Surgical Equipment,3006,2020,12
211189,5XXX,ASIA,1,80,MAIL SHIPMENTS,0,6570,Surgical Equipment,3006,2020,12

In [13]:
# Make tables with only totals data
# Create table with only totals for visualization
totalExportData2020 = exportData2020[(exportData2020['COUNTRY_NAME'] == "TOTAL FOR ALL COUNTRIES") & (exportData2020['DISTRICT_NAME'] == "TOTAL FOR ALL DISTRICTS")]
totalExportData2020

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,-,TOTAL FOR ALL COUNTRIES,1,-,TOTAL FOR ALL DISTRICTS,1762441331,1762441331,"Vaccines, Blood, and Immunological products",3002,2020,01
1,-,TOTAL FOR ALL COUNTRIES,2,-,TOTAL FOR ALL DISTRICTS,159276910,159276910,"Vaccines, Blood, and Immunological products",3002,2020,01
2684,-,TOTAL FOR ALL COUNTRIES,-,-,TOTAL FOR ALL DISTRICTS,1921718241,1921718241,"Vaccines, Blood, and Immunological products",3002,2020,01
6145,-,TOTAL FOR ALL COUNTRIES,-,-,TOTAL FOR ALL DISTRICTS,2035366735,3957084976,"Vaccines, Blood, and Immunological products",3002,2020,02
6715,-,TOTAL FOR ALL COUNTRIES,2,-,TOTAL FOR ALL DISTRICTS,112224127,271501037,"Vaccines, Blood, and Immunological products",3002,2020,02
...,...,...,...,...,...,...,...,...,...,...,...
202546,-,TOTAL FOR ALL COUNTRIES,2,-,TOTAL FOR ALL DISTRICTS,35769535,356398090,Surgical Equipment,3006,2020,11
202547,-,TOTAL FOR ALL COUNTRIES,-,-,TOTAL FOR ALL DISTRICTS,146242621,1598577586,Surgical Equipment,3006,2020,11
206830,-,TOTAL FOR ALL COUNTRIES,-,-,TOTAL FOR ALL DISTRICTS,144840869,1743418455,Surgical Equipment,3006,2020,12
206832,-,TOTAL FOR ALL COUNTRIES,1,-,TOTAL FOR ALL DISTRICTS,107099665,1349279161,Surgical Equipment,3006,2020,12
206833,-,TOTAL FOR ALL COUNTRIES,2,-,TOTAL FOR ALL DISTRICTS,37741204,394139294,Surgical Equipment,3006,2020,12

In [14]:
exportData2020 = exportData2020[exportData2020['COUNTRY_NAME'] != "TOTAL FOR ALL COUNTRIES"]
exportData2020 = exportData2020[exportData2020['DISTRICT_NAME'] != "TOTAL FOR ALL DISTRICTS"]
exportData2020

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
2,0003,EUROPEAN UNION,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
3,0022,OECD,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
4,0023,NATO,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
5,0025,EURO AREA,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
6,4210,NETHERLANDS,-,01,"PORTLAND, ME",315420,315420,"Vaccines, Blood, and Immunological products",3002,2020,01
...,...,...,...,...,...,...,...,...,...,...,...
211185,4804,MONTENEGRO,1,80,MAIL SHIPMENTS,0,8183,Surgical Equipment,3006,2020,12
211186,4890,TURKEY,1,80,MAIL SHIPMENTS,0,20795,Surgical Equipment,3006,2020,12
211187,4XXX,EUROPE,1,80,MAIL SHIPMENTS,3628,198447,Surgical Equipment,3006,2020,12
211188,5880,JAPAN,1,80,MAIL SHIPMENTS,0,6570,Surgical Equipment,3006,2020,12
211189,5XXX,ASIA,1,80,MAIL SHIPMENTS,0,6570,Surgical Equipment,3006,2020,12

In [15]:
# Save as a csv
# Using encoding="utf-8" to avoid issues later
exportData2020.to_csv("Resources/exportData2020.csv", encoding="utf-8", index=False)
totalExportData2020.to_csv("Resources/totalExportData2020.csv", encoding="utf-8", index=False)

In [16]:
#Convert to county data to dataframe, perform some basic operations
#county_df=pd.DataFrame(countyData[1:], columns=countyData[0]).\
#rename(columns={"GEO_ID": "GEOID", "GEONAME": "CountyST"})
#county_df['fips']=county_df.state+county_df.county
#county_df.set_index('fips',inplace=True)
#county_df.drop(columns=['state','county'],inplace=True)
#county_df[['County','State']] = county_df.CountyST.str.split(",",expand=True)
#county_df.dropna(how="any", inplace=True)
#county_df