In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from census import Census

In [2]:
# Census API key
from courtCensusKey import censusKey

In [3]:
complete_url='https://api.census.gov/data/timeseries/intltrade/exports/hs'+\
            '?get=DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC'+\
            '&E_COMMODITY=3926201010'+\
            '&YEAR=2019'+\
            '&MONTH=*'

In [4]:
response=requests.get(complete_url)
response

In [5]:
pd.DataFrame(response.json())

,0,1,2,3,4,5,6,7
0,DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC,E_COMMODITY,YEAR,MONTH
1,-,TOTAL FOR ALL DISTRICTS,1109949,1109949,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
2,07,"OGDENSBURG, NY",99903,99903,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
3,09,"BUFFALO, NY",237669,237669,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
4,11,"PHILADELPHIA, PA",2852,2852,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
...,...,...,...,...,...,...,...,...
330,49,"SAN JUAN, PR",72819,519368,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
331,52,"MIAMI, FL",67122,1557770,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
332,53,"HOUSTON-GALVESTON, TX",0,39082,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
333,55,"DALLAS-FORT WORTH, TX",0,82464,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
334,70,LOW VALUE,45710,585496,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12

In [6]:
#Setting variables 
year='2019'
month='*'
cols='DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC'

In [7]:
#Base URL 
base_url = 'https://api.census.gov/data/timeseries/intltrade/exports/hs'

complete_url = f'{base_url}?get={cols}&YEAR={year}&MONTH={month}'


hts_list=['2926100000','4002510000','4002590000','2836500000','4002110000','3904100000']
df_list=[]

for each_hts in hts_list:
    hts_code=each_hts
    query_params={
        'get': 'CTY_CODE,CTY_NAME,DF,DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC',
        'E_COMMODITY': hts_code,
        'YEAR': '2019',
        'MONTH': "*"
    }
    max_response=requests.get(base_url, params=query_params)
    #print(max_response.json())
    df_list.append(max_response.json()[1:])
#print(df_list)

In [8]:
productList = []
for product in df_list:
    productList += product

In [9]:
exportData = pd.DataFrame(productList, columns=max_response.json()[0])
exportData

,CTY_CODE,CTY_NAME,DF,DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC,E_COMMODITY,YEAR,MONTH
0,-,TOTAL FOR ALL COUNTRIES,-,07,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,01
1,-,TOTAL FOR ALL COUNTRIES,-,20,"NEW ORLEANS, LA",2496000,2496000,ACRYLONITRILE,2926100000,2019,01
2,-,TOTAL FOR ALL COUNTRIES,-,23,"LAREDO, TX",41529,41529,ACRYLONITRILE,2926100000,2019,01
3,-,TOTAL FOR ALL COUNTRIES,-,38,"DETROIT, MI",71346,71346,ACRYLONITRILE,2926100000,2019,01
4,-,TOTAL FOR ALL COUNTRIES,-,53,"HOUSTON-GALVESTON, TX",65868657,65868657,ACRYLONITRILE,2926100000,2019,01
...,...,...,...,...,...,...,...,...,...,...,...
61041,0023,NATO,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61042,0026,APEC,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61043,1220,CANADA,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61044,1XXX,NORTH AMERICA,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61045,-,TOTAL FOR ALL COUNTRIES,-,-,TOTAL FOR ALL DISTRICTS,175795776,2480156855,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12

In [11]:
exportData['E_COMMODITY_SDESC'].unique()

array(['ACRYLONITRILE', 'LATEX OF ACRYLONITRILE-BUTADIENE RUBBER (NBR)',
       'ACRYLONITRILE-BUTADIENE RUBBER, EXC LATEX, NESOI',
       'CALCIUM CARBONATE', 'LATEX OF (SBR); (XSBR)',
       'POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBSTANC'], dtype=object)

In [12]:
#Convert to country data to dataframe, perform some basic operations
# country_df = pd.DataFrame(countryData[1:], columns = countryData[0]).\
exportData = exportData.rename(columns={"CTY_CODE": "COUNTRY_CODE", "CTY_NAME": "COUNTRY_NAME", "DF": "DOMESTIC_FOREIGN_CODE", "DIST_NAME": "DISTRICT_NAME", "ALL_VAL_MO": "ALL_VALUES_MONTH", "ALL_VAL_YR": "ALL_VALUES_YEAR", "E_COMMODITY_SDESC": "COMMODITY_DESCRIPTION", "E_COMMODITY": "COMMODITY"})
exportData
# country_df['fips']=country_df.state+country_df.country
# country_df.set_index('fips',inplace=True)
# country_df.drop(columns=['state','country'],inplace=True)
# country_df[['Country','State']] = county_df.CountryST.str.split(",",expand=True)
# country_df.dropna(how="any", inplace=True)
# country_df

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,-,TOTAL FOR ALL COUNTRIES,-,07,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,01
1,-,TOTAL FOR ALL COUNTRIES,-,20,"NEW ORLEANS, LA",2496000,2496000,ACRYLONITRILE,2926100000,2019,01
2,-,TOTAL FOR ALL COUNTRIES,-,23,"LAREDO, TX",41529,41529,ACRYLONITRILE,2926100000,2019,01
3,-,TOTAL FOR ALL COUNTRIES,-,38,"DETROIT, MI",71346,71346,ACRYLONITRILE,2926100000,2019,01
4,-,TOTAL FOR ALL COUNTRIES,-,53,"HOUSTON-GALVESTON, TX",65868657,65868657,ACRYLONITRILE,2926100000,2019,01
...,...,...,...,...,...,...,...,...,...,...,...
61041,0023,NATO,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61042,0026,APEC,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61043,1220,CANADA,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61044,1XXX,NORTH AMERICA,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61045,-,TOTAL FOR ALL COUNTRIES,-,-,TOTAL FOR ALL DISTRICTS,175795776,2480156855,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12

In [19]:
exportData = exportData[exportData['COUNTRY_NAME'] != "TOTAL FOR ALL COUNTRIES"]
exportData = exportData[exportData['DISTRICT_NAME'] != "TOTAL FOR ALL DISTRICTS"]
exportData

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
43,0023,NATO,-,07,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,01
49,0020,NAFTA,-,07,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,01
50,0022,OECD,-,07,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,01
51,0026,APEC,-,07,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,01
52,1220,CANADA,-,07,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,01
...,...,...,...,...,...,...,...,...,...,...,...
61040,0022,OECD,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61041,0023,NATO,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61042,0026,APEC,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61043,1220,CANADA,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
61044,1XXX,NORTH AMERICA,1,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12

In [20]:
# Save as a csv
# Using encoding="utf-8" to avoid issues later
exportData.to_csv("Resources/exportData2019.csv", encoding="utf-8", index=False)