In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [2]:
# Census API key
from courtCensusKey import censusKey

In [3]:
complete_url='https://api.census.gov/data/timeseries/intltrade/imports/hs'+\
            '?get=SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC'+\
            '&I_COMMODITY=3926201010'+\
            '&YEAR=2019'+\
            '&MONTH=*'

In [4]:
response=requests.get(complete_url)
response

In [5]:
pd.DataFrame(response.json())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC,I_COMMODITY,YEAR,MONTH
1,DET,HS,-,TOTAL FOR ALL COUNTRIES,-,16961897,16961897,-,TOTAL FOR ALL DISTRICTS,16961897,16961897,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
2,CGP,HSCY,0003,EUROPEAN UNION,-,86406,86406,-,TOTAL FOR ALL DISTRICTS,86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
3,CGP,HSCY,0014,PACIFIC RIM COUNTRIES,-,16786273,16786273,-,TOTAL FOR ALL DISTRICTS,16786273,16786273,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
4,CGP,HSCY,0020,NAFTA,-,373,373,-,TOTAL FOR ALL DISTRICTS,373,373,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5758,DET,HSDT,-,TOTAL FOR ALL COUNTRIES,-,158596,1716506,45,"ST. LOUIS, MO",158596,1716506,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
5759,DET,HSDT,-,TOTAL FOR ALL COUNTRIES,-,5967,343248,49,"SAN JUAN, PR",5967,343248,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
5760,DET,HSDT,-,TOTAL FOR ALL COUNTRIES,-,5280,1034804,52,"MIAMI, FL",5280,1034804,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
5761,DET,HSDT,-,TOTAL FOR ALL COUNTRIES,-,208849,1445274,55,"DALLAS-FORT WORTH, TX",208849,1445274,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12
5762,DET,HSDT,-,TOTAL FOR ALL COUNTRIES,-,129669,920547,53,"HOUSTON-GALVESTON, TX",129669,920547,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,12

In [6]:
#Setting variables 
year='2019'
month='*'
cols='SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC'

In [7]:
#Base URL 
base_url = 'https://api.census.gov/data/timeseries/intltrade/imports/hs'

complete_url = f'{base_url}?get={cols}&YEAR={year}&MONTH={month}'

# HTS Codes and what they represent
# 0901 - Coffee
# 480300 - Toilet Paper
# 2203 - Beer
# 2204 - Wine
# Hard alcohol - 2207

# Items in US top imports
# Pharmaceuticals - $116.3 billion
    # 3002 - Vaccines, Blood, and Immunological products
    # 3003 - Medication (unmeasured doses)
    # 3004 - Medication (measured doses)
    # 3005 - Medically-treated Bandages
    # 3006 - Surgical Equipment
# Medical Equipment - $93.4 billion
# Plastics - $61.9 billion
# Organic chemicals - $54.6 billion

hts_list=['3002','3003','3004','3005','3006']
df_list=[]

for each_hts in hts_list:
    hts_code=each_hts
    query_params={
        'get': 'SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC',
        'I_COMMODITY': hts_code,
        'YEAR': '2019',
        'MONTH': "*"
    }
    import_response=requests.get(base_url, params=query_params)
    #print(max_response.json())
    df_list.append(import_response.json()[1:])
    #print(df_list)

In [8]:
importList = []
for product in df_list:
    importList += product

In [9]:
importData = pd.DataFrame(importList, columns=import_response.json()[0])
importData

,SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC,I_COMMODITY,YEAR,MONTH
0,DET,HS,-,TOTAL FOR ALL COUNTRIES,-,3645371140,3645371140,-,TOTAL FOR ALL DISTRICTS,3649623422,3649623422,HUMAN BLOOD; ANIMAL BLOO,3002,2019,01
1,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,72577310,72577310,04,"BOSTON, MA",72577310,72577310,HUMAN BLOOD; ANIMAL BLOO,3002,2019,01
2,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,278053,278053,07,"OGDENSBURG, NY",278053,278053,HUMAN BLOOD; ANIMAL BLOO,3002,2019,01
3,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,15857350,15857350,09,"BUFFALO, NY",15857350,15857350,HUMAN BLOOD; ANIMAL BLOO,3002,2019,01
4,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,93507559,93507559,10,"NEW YORK CITY, NY",93507559,93507559,HUMAN BLOOD; ANIMAL BLOO,3002,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95925,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,6122,41,"CLEVELAND, OH",0,6122,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
95926,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,61890,49,"SAN JUAN, PR",0,61890,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
95927,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,15191,24877,52,"MIAMI, FL",15191,24877,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
95928,DET,HSCYCSDT,7800,SEYCHELLES,00,0,9426,10,"NEW YORK CITY, NY",0,9426,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
95929,CGP,HSCYCSDT,7XXX,AFRICA,00,0,9426,10,"NEW YORK CITY, NY",0,9426,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12

In [10]:
importData['I_COMMODITY_SDESC'].unique()

array(['HUMAN BLOOD; ANIMAL BLOO', 'MEDICAMENTS NESOI OF MIXTU',
       'MEDICAMENTS NESOI, MIXED O', 'BANDAGES ETC COATED ETC OR',
       'PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30'], dtype=object)

In [11]:
importData.columns

Index(['SUMMARY_LVL', 'SUMMARY_LVL2', 'CTY_CODE', 'CTY_NAME', 'CTY_SUBCODE',
       'GEN_VAL_MO', 'GEN_VAL_YR', 'DISTRICT', 'DIST_NAME', 'CON_VAL_MO',
       'CON_VAL_YR', 'I_COMMODITY_SDESC', 'I_COMMODITY', 'YEAR', 'MONTH'],
      dtype='object')

In [12]:
importData = importData.rename(columns={
    "SUMMARY_LVL": "SUMMARY_LEVEL", "SUMMARY_LVL2": "SUMMARY_LEVEL_2", 
    "CTY_CODE": "COUNTRY_CODE", "CTY_NAME": "COUNTRY_NAME", "CTY_SUBCODE": "COUNTRY_SUBCODE",
    "GEN_VAL_MO": "GENERAL_VALUES_MONTH", "GEN_VAL_YR": "GENERAL_VALUES_YEAR",
    "DIST_NAME": "DISTRICT_NAME", "CON_VAL_MO": "MONTHLY_CONSUMPTION_VALUE", 
    "CON_VAL_YR": "YEARLY_CONSUMPTION_VALUE", "I_COMMODITY_SDESC": "COMMODITY_DESCRIPTION", 
    "I_COMMODITY": "COMMODITY"})

In [13]:
# Clean up commodity names
importData.loc[(importData.COMMODITY_DESCRIPTION == 'HUMAN BLOOD; ANIMAL BLOO'), 'COMMODITY_DESCRIPTION'] = 'Vaccines, Blood, and Immunological products'
importData.loc[(importData.COMMODITY_DESCRIPTION == 'MEDICAMENTS NESOI OF MIXTU'), 'COMMODITY_DESCRIPTION'] = 'Medication (unmeasured doses)'
importData.loc[(importData.COMMODITY_DESCRIPTION == 'MEDICAMENTS NESOI, MIXED O'), 'COMMODITY_DESCRIPTION'] = 'Medication (measured doses)'
importData.loc[(importData.COMMODITY_DESCRIPTION == 'BANDAGES ETC COATED ETC OR'), 'COMMODITY_DESCRIPTION'] = 'Medically-Treated Bandages'
importData.loc[(importData.COMMODITY_DESCRIPTION == 'PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30'), 'COMMODITY_DESCRIPTION'] = 'Surgical Equipment'
importData

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,DET,HS,-,TOTAL FOR ALL COUNTRIES,-,3645371140,3645371140,-,TOTAL FOR ALL DISTRICTS,3649623422,3649623422,"Vaccines, Blood, and Immunological products",3002,2019,01
1,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,72577310,72577310,04,"BOSTON, MA",72577310,72577310,"Vaccines, Blood, and Immunological products",3002,2019,01
2,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,278053,278053,07,"OGDENSBURG, NY",278053,278053,"Vaccines, Blood, and Immunological products",3002,2019,01
3,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,15857350,15857350,09,"BUFFALO, NY",15857350,15857350,"Vaccines, Blood, and Immunological products",3002,2019,01
4,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,93507559,93507559,10,"NEW YORK CITY, NY",93507559,93507559,"Vaccines, Blood, and Immunological products",3002,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95925,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,6122,41,"CLEVELAND, OH",0,6122,Surgical Equipment,3006,2019,12
95926,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,61890,49,"SAN JUAN, PR",0,61890,Surgical Equipment,3006,2019,12
95927,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,15191,24877,52,"MIAMI, FL",15191,24877,Surgical Equipment,3006,2019,12
95928,DET,HSCYCSDT,7800,SEYCHELLES,00,0,9426,10,"NEW YORK CITY, NY",0,9426,Surgical Equipment,3006,2019,12
95929,CGP,HSCYCSDT,7XXX,AFRICA,00,0,9426,10,"NEW YORK CITY, NY",0,9426,Surgical Equipment,3006,2019,12

In [15]:
# Create data set with only aggregated totals
# Create table with only totals for visualization
totalImportData = importData[(importData['COUNTRY_NAME'] == "TOTAL FOR ALL COUNTRIES") & (importData['DISTRICT_NAME'] == "TOTAL FOR ALL DISTRICTS")]
# drop aggregated totals
importData= importData[importData['COUNTRY_NAME']!="TOTAL FOR ALL COUNTRIES"]
importData= importData[importData['DISTRICT_NAME']!="TOTAL FOR ALL DISTRICTS"]
importData

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
161,CGP,HSCYDT,0003,EUROPEAN UNION,-,197991110,197991110,13,"BALTIMORE, MD",197991110,197991110,"Vaccines, Blood, and Immunological products",3002,2019,01
162,CGP,HSCYDT,0003,EUROPEAN UNION,-,4402716,4402716,04,"BOSTON, MA",4402716,4402716,"Vaccines, Blood, and Immunological products",3002,2019,01
163,CGP,HSCYDT,0003,EUROPEAN UNION,-,33326780,33326780,10,"NEW YORK CITY, NY",33326780,33326780,"Vaccines, Blood, and Immunological products",3002,2019,01
164,CGP,HSCYDT,0003,EUROPEAN UNION,-,163374602,163374602,11,"PHILADELPHIA, PA",163374602,163374602,"Vaccines, Blood, and Immunological products",3002,2019,01
165,CGP,HSCYDT,0003,EUROPEAN UNION,-,7830816,7830816,14,"NORFOLK, VA",7830816,7830816,"Vaccines, Blood, and Immunological products",3002,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95925,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,6122,41,"CLEVELAND, OH",0,6122,Surgical Equipment,3006,2019,12
95926,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,61890,49,"SAN JUAN, PR",0,61890,Surgical Equipment,3006,2019,12
95927,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,15191,24877,52,"MIAMI, FL",15191,24877,Surgical Equipment,3006,2019,12
95928,DET,HSCYCSDT,7800,SEYCHELLES,00,0,9426,10,"NEW YORK CITY, NY",0,9426,Surgical Equipment,3006,2019,12
95929,CGP,HSCYCSDT,7XXX,AFRICA,00,0,9426,10,"NEW YORK CITY, NY",0,9426,Surgical Equipment,3006,2019,12

In [16]:
# Save as a csv
# Using encoding="utf-8" to avoid issues later
importData.to_csv("Resources/importData2019.csv", encoding="utf-8", index=False)
totalImportData.to_csv("Resources/totalImportData2019.csv", encoding="utf-8", index=False)