In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [2]:
# Census API key
from courtCensusKey import censusKey

In [3]:
complete_url='https://api.census.gov/data/timeseries/intltrade/imports/hs'+\
            '?get=SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC'+\
            '&I_COMMODITY=0901'+\
            '&YEAR=2019'+\
            '&MONTH=*'

In [4]:
response=requests.get(complete_url)
response

In [5]:
pd.DataFrame(response.json())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC,I_COMMODITY,YEAR,MONTH
1,DET,HS,-,TOTAL FOR ALL COUNTRIES,-,469013980,469013980,-,TOTAL FOR ALL DISTRICTS,469121228,469121228,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
2,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,408288,408288,02,"ST. ALBANS, VT",408288,408288,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
3,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,115136,115136,04,"BOSTON, MA",115136,115136,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
4,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,2904493,2904493,07,"OGDENSBURG, NY",2904493,2904493,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32208,CGP,HSCYDT,7XXX,AFRICA,-,0,54340,45,"ST. LOUIS, MO",0,54340,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32209,CGP,HSCYDT,7XXX,AFRICA,-,64262,892937,52,"MIAMI, FL",64262,892937,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32210,CGP,HSCYDT,7XXX,AFRICA,-,1273940,10709584,53,"HOUSTON-GALVESTON, TX",1273940,10709584,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32211,CGP,HSCYDT,7XXX,AFRICA,-,0,61841,54,"WASHINGTON, DC",0,61841,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32212,CGP,HSCYDT,7XXX,AFRICA,-,0,25771,55,"DALLAS-FORT WORTH, TX",0,25771,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12

In [6]:
#Setting variables 
year='2019'
month='*'
cols='SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC'

In [45]:
#Base URL 
base_url = 'https://api.census.gov/data/timeseries/intltrade/imports/hs'

complete_url = f'{base_url}?get={cols}&YEAR={year}&MONTH={month}'

# HTC Codes and what they represent
# 0901 - Coffee
# 480300 - Toilet Paper
# 2203 - Beer
# 2204 - Wine
# Hard alcohol - 2207

# Items in US top imports
# Pharmaceuticals - $116.3 billion
    # 3002 - Vaccines, Blood, and Immunological products
    # 3003 - Medication (unmeasured doses)
    # 3004 - Medication (measured doses)
    # 3005 - Medically-treated Bandages
    # 3006 - Surgical Equipment
# Medical Equipment - $93.4 billion
# Plastics - $61.9 billion
# Organic chemicals - $54.6 billion

hts_list=['3006']
df_list=[]

for each_hts in hts_list:
    hts_code=each_hts
    query_params={
        'get': 'SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC',
        'I_COMMODITY': hts_code,
        'YEAR': '2019',
        'MONTH': "*"
    }
    import_response=requests.get(base_url, params=query_params)
    #print(max_response.json())
    df_list.append(import_response.json()[1:])
    #print(df_list)

In [46]:
importList = []
for product in df_list:
    importList += product

In [47]:
importData = pd.DataFrame(importList, columns=import_response.json()[0])
importData

,SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC,I_COMMODITY,YEAR,MONTH
0,DET,HS,-,TOTAL FOR ALL COUNTRIES,-,418435243,418435243,-,TOTAL FOR ALL DISTRICTS,417983938,417983938,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,01
1,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,2197465,2197465,04,"BOSTON, MA",2197465,2197465,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,01
2,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,181549423,181549423,07,"OGDENSBURG, NY",181549423,181549423,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,01
3,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,11404872,11404872,09,"BUFFALO, NY",11404872,11404872,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,01
4,DET,HSCSDT,-,TOTAL FOR ALL COUNTRIES,00,53975415,53975415,10,"NEW YORK CITY, NY",53975415,53975415,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18852,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,6122,41,"CLEVELAND, OH",0,6122,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
18853,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,0,61890,49,"SAN JUAN, PR",0,61890,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
18854,CGP,HSCYCSDT,6XXX,AUSTRALIA AND OCEANIA,00,15191,24877,52,"MIAMI, FL",15191,24877,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
18855,DET,HSCYCSDT,7800,SEYCHELLES,00,0,9426,10,"NEW YORK CITY, NY",0,9426,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12
18856,CGP,HSCYCSDT,7XXX,AFRICA,00,0,9426,10,"NEW YORK CITY, NY",0,9426,PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30,3006,2019,12

In [10]:
# drop aggregated totals
importData= importData[importData['CTY_NAME']!="TOTAL FOR ALL COUNTRIES"]
importData= importData[importData['DIST_NAME']!="TOTAL FOR ALL DISTRICTS"]
importData

,SUMMARY_LVL,SUMMARY_LVL2,CTY_CODE,CTY_NAME,CTY_SUBCODE,GEN_VAL_MO,GEN_VAL_YR,DISTRICT,DIST_NAME,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC,I_COMMODITY,YEAR,MONTH
211,CGP,HSCYDT,0003,EUROPEAN UNION,-,115136,115136,04,"BOSTON, MA",115136,115136,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
213,CGP,HSCYDT,0001,OPEC,-,20201,20201,10,"NEW YORK CITY, NY",20201,20201,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
214,CGP,HSCYDT,0001,OPEC,-,130038,130038,28,"SAN FRANCISCO, CA",130038,130038,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
215,CGP,HSCYDT,0001,OPEC,-,15255,15255,52,"MIAMI, FL",15255,15255,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
216,CGP,HSCYDT,0001,OPEC,-,33025,33025,53,"HOUSTON-GALVESTON, TX",33025,33025,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32207,CGP,HSCYDT,7XXX,AFRICA,-,0,54340,45,"ST. LOUIS, MO",0,54340,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32208,CGP,HSCYDT,7XXX,AFRICA,-,64262,892937,52,"MIAMI, FL",64262,892937,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32209,CGP,HSCYDT,7XXX,AFRICA,-,1273940,10709584,53,"HOUSTON-GALVESTON, TX",1273940,10709584,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32210,CGP,HSCYDT,7XXX,AFRICA,-,0,61841,54,"WASHINGTON, DC",0,61841,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32211,CGP,HSCYDT,7XXX,AFRICA,-,0,25771,55,"DALLAS-FORT WORTH, TX",0,25771,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12

In [48]:
importData['I_COMMODITY_SDESC'].unique()

array(['PHARMACEUTICAL GOODS IN NOTE 4 TO CHAPTER 30'], dtype=object)

In [12]:
importData.columns

Index(['SUMMARY_LVL', 'SUMMARY_LVL2', 'CTY_CODE', 'CTY_NAME', 'CTY_SUBCODE',
       'GEN_VAL_MO', 'GEN_VAL_YR', 'DISTRICT', 'DIST_NAME', 'CON_VAL_MO',
       'CON_VAL_YR', 'I_COMMODITY_SDESC', 'I_COMMODITY', 'YEAR', 'MONTH'],
      dtype='object')

In [13]:
importData = importData.rename(columns={
    "SUMMARY_LVL": "SUMMARY_LEVEL", "SUMMARY_LVL2": "SUMMARY_LEVEL_2", 
    "CTY_CODE": "COUNTRY_CODE", "CTY_NAME": "COUNTRY_NAME", "CTY_SUBCODE": "COUNTRY_SUBCODE",
    "GEN_VAL_MO": "GENERAL_VALUES_MONTH", "GEN_VAL_YR": "GENERAL_VALUES_YEAR",
    "DIST_NAME": "DISTRICT_NAME", "CON_VAL_MO": "MONTHLY_CONSUMPTION_VALUE", 
    "CON_VAL_YR": "YEARLY_CONSUMPTION_VALUE", "I_COMMODITY_SDESC": "COMMODITY_DESCRIPTION", 
    "I_COMMODITY": "COMMODITY"})
importData

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
211,CGP,HSCYDT,0003,EUROPEAN UNION,-,115136,115136,04,"BOSTON, MA",115136,115136,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
213,CGP,HSCYDT,0001,OPEC,-,20201,20201,10,"NEW YORK CITY, NY",20201,20201,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
214,CGP,HSCYDT,0001,OPEC,-,130038,130038,28,"SAN FRANCISCO, CA",130038,130038,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
215,CGP,HSCYDT,0001,OPEC,-,15255,15255,52,"MIAMI, FL",15255,15255,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
216,CGP,HSCYDT,0001,OPEC,-,33025,33025,53,"HOUSTON-GALVESTON, TX",33025,33025,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32207,CGP,HSCYDT,7XXX,AFRICA,-,0,54340,45,"ST. LOUIS, MO",0,54340,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32208,CGP,HSCYDT,7XXX,AFRICA,-,64262,892937,52,"MIAMI, FL",64262,892937,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32209,CGP,HSCYDT,7XXX,AFRICA,-,1273940,10709584,53,"HOUSTON-GALVESTON, TX",1273940,10709584,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32210,CGP,HSCYDT,7XXX,AFRICA,-,0,61841,54,"WASHINGTON, DC",0,61841,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12
32211,CGP,HSCYDT,7XXX,AFRICA,-,0,25771,55,"DALLAS-FORT WORTH, TX",0,25771,COFFEE; COFFEE HUSKS ETC; SUBSTITUTES WITH COFFEE,0901,2019,12

In [14]:
# Save as a csv
# Using encoding="utf-8" to avoid issues later
importData.to_csv("Resources/importData2019.csv", encoding="utf-8", index=False)