In [11]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API key
from courtCensusKey import censusKey

ModuleNotFoundError: No module named 'census'

In [12]:
import_url='https://api.census.gov/data/timeseries/intltrade/imports/hs'+\
            '?get=DISTRICT,DIST_NAME,CTY_CODE,CTY_NAME,CTY_SUBCODE,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC'+\
            '&I_COMMODITY=4015110110'+\
            '&YEAR=2019'+\
            '&MONTH=*'

In [13]:
SurgicalGloves=requests.get(import_url)
SurgicalGloves

In [14]:
pd.DataFrame(SurgicalGloves.json())

,0,1,2,3,4,5,6,7,8,9,10
0,DISTRICT,DIST_NAME,CTY_CODE,CTY_NAME,CTY_SUBCODE,CON_VAL_MO,CON_VAL_YR,I_COMMODITY_SDESC,I_COMMODITY,YEAR,MONTH
1,-,TOTAL FOR ALL DISTRICTS,-,TOTAL FOR ALL COUNTRIES,-,6469678,6469678,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,01
2,-,TOTAL FOR ALL DISTRICTS,0014,PACIFIC RIM COUNTRIES,-,3769691,3769691,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,01
3,-,TOTAL FOR ALL DISTRICTS,0020,NAFTA,-,809,809,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,01
4,-,TOTAL FOR ALL DISTRICTS,0021,TWENTY LATIN AMERICAN REPUBLICS,-,809,809,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,01
...,...,...,...,...,...,...,...,...,...,...,...
4282,45,"ST. LOUIS, MO",-,TOTAL FOR ALL COUNTRIES,00,0,111785,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
4283,52,"MIAMI, FL",-,TOTAL FOR ALL COUNTRIES,00,0,119177,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
4284,53,"HOUSTON-GALVESTON, TX",-,TOTAL FOR ALL COUNTRIES,00,0,1130,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
4285,54,"WASHINGTON, DC",-,TOTAL FOR ALL COUNTRIES,00,0,13800,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
4286,55,"DALLAS-FORT WORTH, TX",-,TOTAL FOR ALL COUNTRIES,00,82775,405460,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12

In [15]:
#Setting variables 
year='2019'
month='*'
cols='DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC'

In [16]:

#Base URL 
base_url = 'https://api.census.gov/data/timeseries/intltrade/exports/hs'

complete_url = f'{base_url}?get={cols}&YEAR={year}&MONTH={month}'


hts_list=['2926100000','4002510000','4002590000','2836500000','4002110000','3904100000']
df_list=[]

for each_hts in hts_list:
    hts_code=each_hts
    query_params={
        'get': 'DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC',
        'E_COMMODITY': hts_code,
        'YEAR': '2019',
        'MONTH': "*"
    }
    max_response=requests.get(base_url, params=query_params)
    #print(max_response.json())
    df_list.append(max_response.json()[1:])
#print(df_list)

In [17]:
importData = pd.DataFrame(max_response.json())
importData

,0,1,2,3,4,5,6,7
0,DISTRICT,DIST_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_SDESC,E_COMMODITY,YEAR,MONTH
1,-,TOTAL FOR ALL DISTRICTS,209766183,209766183,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,01
2,02,"ST. ALBANS, VT",35275,35275,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,01
3,04,"BOSTON, MA",10417,10417,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,01
4,07,"OGDENSBURG, NY",1372718,1372718,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,01
...,...,...,...,...,...,...,...,...
399,52,"MIAMI, FL",185354,3129864,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
400,53,"HOUSTON-GALVESTON, TX",80743580,1177505442,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
401,54,"WASHINGTON, DC",0,3240,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
402,70,LOW VALUE,4166,155238,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12
403,-,TOTAL FOR ALL DISTRICTS,175795776,2480156855,"POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBS...",3904100000,2019,12

In [19]:
importData['E_COMMODITY_SDESC'].unique()

KeyError: 'E_COMMODITY_SDESC'

In [ ]:
#Retrieve Data
response=requests.get(data_url)
print(response.text)