In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine("sqlite:///Resources/data/importexport.db", echo=True)
conn = engine.connect()

2021-02-08 22:05:00,426 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-08 22:05:00,427 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:00,429 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-08 22:05:00,430 INFO sqlalchemy.engine.base.Engine ()

In [3]:
# COVID Data into DB
conn.execute(""" DROP TABLE IF EXISTS covid2020 """)

2021-02-08 22:05:01,588 INFO sqlalchemy.engine.base.Engine  DROP TABLE IF EXISTS covid2020
2021-02-08 22:05:01,590 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:01,600 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
# Create covid 2020 table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS covid2020 (
    ID INT PRIMARY KEY,
    day DATE,
    state VARCHAR,
    fips INT,
    cases INT,
    deaths INT,
    year INT,
    month INT
    )
""")

2021-02-08 22:05:02,573 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS covid2020 (
    ID INT PRIMARY KEY,
    day DATE,
    state VARCHAR,
    fips INT,
    cases INT,
    deaths INT,
    year INT,
    month INT
    )

2021-02-08 22:05:02,575 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:02,582 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
# read in csv to df
covid2020 = pd.read_csv("Resources/covidData_clean.csv")
covid2020.head()

          day       state  fips  cases  deaths  year  month
0  2020-01-31     Arizona     4      1       0  2020      1
1  2020-01-31  California     6      3       0  2020      1
2  2020-01-31    Illinois    17      2       0  2020      1
3  2020-01-31  Washington    53      1       0  2020      1
4  2020-02-29     Arizona     4      1       0  2020      2

In [6]:
conn.execute(""" DROP TABLE IF EXISTS IntLatLng """)

2021-02-08 22:05:05,295 INFO sqlalchemy.engine.base.Engine  DROP TABLE IF EXISTS IntLatLng
2021-02-08 22:05:05,297 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:05,301 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
# Create  - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS IntLatLng (
    COUNTRY_NAME INT PRIMARY KEY,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR
    )
""")

2021-02-08 22:05:06,964 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS IntLatLng (
    COUNTRY_NAME INT PRIMARY KEY,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR
    )

2021-02-08 22:05:06,966 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:06,974 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
# read in csv to df
IntLatLng= pd.read_csv("Resources/international_lat_lng2.csv")
IntLatLng.head()

                      COUNTRY_NAME  INT_LAT   INT_LNG         INT_LAT_LNG
0                   EUROPEAN UNION  54.5400   25.1900        54.54, 25.19
1            PACIFIC RIM COUNTIRES  12.8797  121.7740    12.8797, 121.774
2                            NAFTA  47.1164 -101.2996  47.1164, -101.2996
3  TWENTY LATIN AMERICAN REPUBLICS  -4.4420  -61.3269    -4.442, -61.3269
4                             OECD  28.8566    2.3522     28.8566, 2.3522

In [9]:
conn.execute(""" DROP TABLE IF EXISTS usLatLon """)

2021-02-08 22:05:08,740 INFO sqlalchemy.engine.base.Engine  DROP TABLE IF EXISTS usLatLon
2021-02-08 22:05:08,744 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:08,751 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
# read in csv to df
usLatLon= pd.read_csv("Resources/zip_Lat_Lon_US2.csv")
usLatLon.head()

,ZIP,US_LAT,US_LONG,CITY,STATE_ID,STATE,POPULATION,COUNTY_FIPS,DISTRICT_NAME,US_LAT_LONG
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,17242,72001,"ADJUNTAS, PR","18.180039999999998,-66.75218000000001"
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,38442,72003,"AGUADA, PR","18.36073,-67.17517"
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,48814,72005,"AGUADILLA, PR","18.45439,-67.12201999999999"
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,6437,72093,"MARICAO, PR","18.16724,-66.93828"
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,27073,72011,"ANASCO, PR","18.29032,-67.12243000000001"

In [11]:
# Create  - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS usLatLon (
    ZIP INT PRIMARY KEY,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    COUNTRY_FIPS INT,
    DISTRICT_NAME STR,
    US_LAT_LONG STR
    )
""")

2021-02-08 22:05:10,549 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS usLatLon (
    ZIP INT PRIMARY KEY,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    COUNTRY_FIPS INT,
    DISTRICT_NAME STR,
    US_LAT_LONG STR
    )

2021-02-08 22:05:10,551 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:10,562 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
conn.execute(""" DROP TABLE IF EXISTS export2019 """)

2021-02-08 22:05:11,384 INFO sqlalchemy.engine.base.Engine  DROP TABLE IF EXISTS export2019
2021-02-08 22:05:11,391 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:11,405 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
# read in csv to df
export2019 = pd.read_csv("Resources/exportData2019.csv")
export2019.head()
#export2019.columns

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,0023,NATO,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1
1,0020,NAFTA,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1
2,0022,OECD,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1
3,0026,APEC,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1
4,1220,CANADA,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1

In [14]:
export2019 = pd.merge(export2019, IntLatLng, how="inner", on="COUNTRY_NAME")
export2019.head()

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,INT_LAT,INT_LNG,INT_LAT_LNG
0,0023,NATO,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
1,0023,NATO,-,20,"NEW ORLEANS, LA",2496000,2496000,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
2,0023,NATO,-,38,"DETROIT, MI",71346,71346,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
3,0023,NATO,-,53,"HOUSTON-GALVESTON, TX",3869418,3869418,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
4,0023,NATO,1,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"

In [15]:
export2019 = export2019[['COUNTRY_CODE', 'COUNTRY_NAME', 'DOMESTIC_FOREIGN_CODE', 'DISTRICT',
       'DISTRICT_NAME', 'ALL_VALUES_MONTH', 'ALL_VALUES_YEAR',
       'COMMODITY_DESCRIPTION', 'COMMODITY', 'YEAR', 'MONTH', 'INT_LAT',
       'INT_LNG', 'INT_LAT_LNG']]
export2019.head()

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,INT_LAT,INT_LNG,INT_LAT_LNG
0,0023,NATO,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
1,0023,NATO,-,20,"NEW ORLEANS, LA",2496000,2496000,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
2,0023,NATO,-,38,"DETROIT, MI",71346,71346,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
3,0023,NATO,-,53,"HOUSTON-GALVESTON, TX",3869418,3869418,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"
4,0023,NATO,1,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,1,50.8503,4.3517,"50.8503, 4.3517"

In [16]:
export2019 = pd.merge(export2019, usLatLon, how="inner", on="DISTRICT_NAME")
export2019.head()

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,...,INT_LAT_LNG,ZIP,US_LAT,US_LONG,CITY,STATE_ID,STATE,POPULATION,COUNTY_FIPS,US_LAT_LONG
0,0023,NATO,-,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,...,"50.8503, 4.3517",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
1,0023,NATO,1,7,"OGDENSBURG, NY",267236,267236,ACRYLONITRILE,2926100000,2019,...,"50.8503, 4.3517",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
2,0023,NATO,-,7,"OGDENSBURG, NY",209401,476637,ACRYLONITRILE,2926100000,2019,...,"50.8503, 4.3517",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
3,0023,NATO,1,7,"OGDENSBURG, NY",209401,476637,ACRYLONITRILE,2926100000,2019,...,"50.8503, 4.3517",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
4,0023,NATO,-,7,"OGDENSBURG, NY",165865,642502,ACRYLONITRILE,2926100000,2019,...,"50.8503, 4.3517",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"

In [17]:
# Create export2019 table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS export2019 (
    ID INT PRIMARY KEY,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    DOMESTIC_FOREIGN_CODE INT,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    ALL_VALUES_MONTH DOUBLE,
    ALL_VALUES_YEAR DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR
    )
""")

2021-02-08 22:05:14,966 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS export2019 (
    ID INT PRIMARY KEY,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    DOMESTIC_FOREIGN_CODE INT,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    ALL_VALUES_MONTH DOUBLE,
    ALL_VALUES_YEAR DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR
    )

2021-02-08 22:05:14,970 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:14,977 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
conn.execute(""" DROP TABLE IF EXISTS export2020 """)

2021-02-08 22:05:15,646 INFO sqlalchemy.engine.base.Engine  DROP TABLE IF EXISTS export2020
2021-02-08 22:05:15,648 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:15,659 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
# read in csv to df
export2020 = pd.read_csv("Resources/exportData2020.csv")
export2020.head()

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,0020,NAFTA,-,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,1
1,0022,OECD,-,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,1
2,0023,NATO,-,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,1
3,0026,APEC,-,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,1
4,1220,CANADA,-,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,1

In [20]:
export2020 = pd.merge(export2020, IntLatLng, how="inner", on="COUNTRY_NAME")
export2020.head()

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,INT_LAT,INT_LNG,INT_LAT_LNG
0,0020,NAFTA,-,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,1,47.1164,-101.2996,"47.1164, -101.2996"
1,0020,NAFTA,-,23,"LAREDO, TX",54803,54803,ACRYLONITRILE,2926100000,2020,1,47.1164,-101.2996,"47.1164, -101.2996"
2,0020,NAFTA,-,38,"DETROIT, MI",294333,294333,ACRYLONITRILE,2926100000,2020,1,47.1164,-101.2996,"47.1164, -101.2996"
3,0020,NAFTA,-,53,"HOUSTON-GALVESTON, TX",5783820,5783820,ACRYLONITRILE,2926100000,2020,1,47.1164,-101.2996,"47.1164, -101.2996"
4,0020,NAFTA,1,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,1,47.1164,-101.2996,"47.1164, -101.2996"

In [ ]:
export2020 = export2020[['COUNTRY_CODE', 'COUNTRY_NAME', 'DOMESTIC_FOREIGN_CODE', 'DISTRICT',
       'DISTRICT_NAME', 'ALL_VALUES_MONTH', 'ALL_VALUES_YEAR',
       'COMMODITY_DESCRIPTION', 'COMMODITY', 'YEAR', 'MONTH', 'INT_LAT',
       'INT_LNG', 'INT_LAT_LNG']]
export2020.head()

In [22]:
export2020 = pd.merge(export2020, usLatLon, how="inner", on="DISTRICT_NAME")
export2020.head()

,COUNTRY_CODE,COUNTRY_NAME,DOMESTIC_FOREIGN_CODE,DISTRICT,DISTRICT_NAME,ALL_VALUES_MONTH,ALL_VALUES_YEAR,COMMODITY_DESCRIPTION,COMMODITY,YEAR,...,INT_LAT_LNG,ZIP,US_LAT,US_LONG,CITY,STATE_ID,STATE,POPULATION,COUNTY_FIPS,US_LAT_LONG
0,0020,NAFTA,-,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,...,"47.1164, -101.2996",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
1,0020,NAFTA,1,7,"OGDENSBURG, NY",215368,215368,ACRYLONITRILE,2926100000,2020,...,"47.1164, -101.2996",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
2,0020,NAFTA,1,7,"OGDENSBURG, NY",146476,361844,ACRYLONITRILE,2926100000,2020,...,"47.1164, -101.2996",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
3,0020,NAFTA,-,7,"OGDENSBURG, NY",146476,361844,ACRYLONITRILE,2926100000,2020,...,"47.1164, -101.2996",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"
4,0020,NAFTA,-,7,"OGDENSBURG, NY",171585,533429,ACRYLONITRILE,2926100000,2020,...,"47.1164, -101.2996",13669,44.64409,-75.49517,Ogdensburg,NY,New York,15782,36089,"44.644090000000006,-75.49517"

In [23]:
# Create export2020 table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS export2020 (
    ID INT PRIMARY KEY,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    DOMESTIC_FOREIGN_CODE INT,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    ALL_VALUES_MONTH DOUBLE,
    ALL_VALUES_YEAR DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR
    )
""")

2021-02-08 22:05:19,069 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS export2020 (
    ID INT PRIMARY KEY,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    DOMESTIC_FOREIGN_CODE INT,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    ALL_VALUES_MONTH DOUBLE,
    ALL_VALUES_YEAR DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR
    )

2021-02-08 22:05:19,074 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:19,081 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
conn.execute(""" DROP TABLE IF EXISTS import2019 """)

2021-02-08 22:05:19,613 INFO sqlalchemy.engine.base.Engine  DROP TABLE IF EXISTS import2019
2021-02-08 22:05:19,614 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:19,623 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
# read in csv to df
import2019 = pd.read_csv("Resources/importData2019.csv")
import2019.head()

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
1,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,268698,268698,4,"BOSTON, MA",268698,268698,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
2,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,336,336,7,"OGDENSBURG, NY",336,336,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
3,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,790,790,9,"BUFFALO, NY",790,790,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
4,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,3801253,3801253,10,"NEW YORK CITY, NY",3801253,3801253,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1

In [26]:
#add international lat and lng
import2019 = pd.merge(import2019, IntLatLng, how="inner", on="COUNTRY_NAME")
import2019.head()
#import2019 = import2019[[]]

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,INT_LAT,INT_LNG,INT_LAT_LNG
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1,54.54,25.19,"54.54, 25.19"
1,CGP,HSCYDT,0003,EUROPEAN UNION,-,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1,54.54,25.19,"54.54, 25.19"
2,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,0,86406,41,"CLEVELAND, OH",0,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,2,54.54,25.19,"54.54, 25.19"
3,CGP,HSCYDT,0003,EUROPEAN UNION,-,0,86406,41,"CLEVELAND, OH",0,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,2,54.54,25.19,"54.54, 25.19"
4,CGP,HSCYDT,0003,EUROPEAN UNION,-,207044,293450,41,"CLEVELAND, OH",207044,293450,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,3,54.54,25.19,"54.54, 25.19"

In [27]:
import2019 = import2019[['SUMMARY_LEVEL', 'SUMMARY_LEVEL_2', 'COUNTRY_CODE', 'COUNTRY_NAME',
       'COUNTRY_SUBCODE', 'GENERAL_VALUES_MONTH', 'GENERAL_VALUES_YEAR',
       'DISTRICT', 'DISTRICT_NAME', 'MONTHLY_CONSUMPTION_VALUE',
       'YEARLY_CONSUMPTION_VALUE', 'COMMODITY_DESCRIPTION', 'COMMODITY',
       'YEAR', 'MONTH', 'INT_LAT', 'INT_LNG', 'INT_LAT_LNG']]
import2019.head()

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,INT_LAT,INT_LNG,INT_LAT_LNG
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1,54.54,25.19,"54.54, 25.19"
1,CGP,HSCYDT,0003,EUROPEAN UNION,-,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1,54.54,25.19,"54.54, 25.19"
2,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,0,86406,41,"CLEVELAND, OH",0,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,2,54.54,25.19,"54.54, 25.19"
3,CGP,HSCYDT,0003,EUROPEAN UNION,-,0,86406,41,"CLEVELAND, OH",0,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,2,54.54,25.19,"54.54, 25.19"
4,CGP,HSCYDT,0003,EUROPEAN UNION,-,207044,293450,41,"CLEVELAND, OH",207044,293450,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,3,54.54,25.19,"54.54, 25.19"

In [28]:
import2019 = pd.merge(import2019, usLatLon, how="inner", on="DISTRICT_NAME")
import2019.head()

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,...,INT_LAT_LNG,ZIP,US_LAT,US_LONG,CITY,STATE_ID,STATE,POPULATION,COUNTY_FIPS,US_LAT_LONG
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,...,"54.54, 25.19",44101,41.48924,-81.66736,Cleveland,OH,Ohio,610,39035,"41.48924,-81.66736"
1,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,...,"54.54, 25.19",44102,41.47524,-81.73766,Cleveland,OH,Ohio,45514,39035,"41.47524,-81.73765999999999"
2,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,...,"54.54, 25.19",44103,41.51720,-81.64237,Cleveland,OH,Ohio,16519,39035,"41.5172,-81.64237"
3,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,...,"54.54, 25.19",44104,41.48223,-81.62681,Cleveland,OH,Ohio,19640,39035,"41.48223,-81.62680999999999"
4,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,...,"54.54, 25.19",44105,41.45063,-81.63024,Cleveland,OH,Ohio,37211,39035,"41.45063,-81.63024"

In [29]:
# Create import2019 table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS import2019 (
    ID INT PRIMARY KEY,
    SUMMARY_LEVEL VARCHAR,
    SUMMARY_LEVEL_2 VARCHAR,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    COUNTRY_SUBCODE INT,
    GENERAL_VALUES_MONTH DOUBLE,
    GENERAL_VALUES_YEAR DOUBLE,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    MONTHLY_CONSUMPTION_VALUE DOUBLE,
    YEARLY_CONSUMPTION_VALUE DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR 
    )
""")

2021-02-08 22:05:22,357 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS import2019 (
    ID INT PRIMARY KEY,
    SUMMARY_LEVEL VARCHAR,
    SUMMARY_LEVEL_2 VARCHAR,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    COUNTRY_SUBCODE INT,
    GENERAL_VALUES_MONTH DOUBLE,
    GENERAL_VALUES_YEAR DOUBLE,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    MONTHLY_CONSUMPTION_VALUE DOUBLE,
    YEARLY_CONSUMPTION_VALUE DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR
    )

2021-02-08 22:05:22,361 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:22,370 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
conn.execute(""" DROP TABLE IF EXISTS import2020 """)

2021-02-08 22:05:22,845 INFO sqlalchemy.engine.base.Engine  DROP TABLE IF EXISTS import2020
2021-02-08 22:05:22,848 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:22,856 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
# read in csv to df
import2020 = pd.read_csv("Resources/importData2020.csv")
import2020.head()

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
1,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,100359,100359,4,"BOSTON, MA",100359,100359,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
2,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,2782365,2782365,10,"NEW YORK CITY, NY",2782365,2782365,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
3,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,221603,221603,13,"BALTIMORE, MD",221603,221603,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
4,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,407135,407135,16,"CHARLESTON, SC",407135,407135,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1

In [32]:
import2020 = pd.merge(import2020, IntLatLng, how="inner", on="COUNTRY_NAME")
import2020.head()

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,INT_LAT,INT_LNG,INT_LAT_LNG
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1,54.54,25.19,"54.54, 25.19"
1,CGP,HSCYDT,0003,EUROPEAN UNION,-,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1,54.54,25.19,"54.54, 25.19"
2,CGP,HSCYDT,0003,EUROPEAN UNION,-,125288,232062,41,"CLEVELAND, OH",125288,232062,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,2,54.54,25.19,"54.54, 25.19"
3,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,125288,232062,41,"CLEVELAND, OH",125288,232062,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,2,54.54,25.19,"54.54, 25.19"
4,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,1168,1168,10,"NEW YORK CITY, NY",1168,1168,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,3,54.54,25.19,"54.54, 25.19"

In [33]:
import2020 = import2020[['SUMMARY_LEVEL', 'SUMMARY_LEVEL_2', 'COUNTRY_CODE', 'COUNTRY_NAME',
       'COUNTRY_SUBCODE', 'GENERAL_VALUES_MONTH', 'GENERAL_VALUES_YEAR',
       'DISTRICT', 'DISTRICT_NAME', 'MONTHLY_CONSUMPTION_VALUE',
       'YEARLY_CONSUMPTION_VALUE', 'COMMODITY_DESCRIPTION', 'COMMODITY',
       'YEAR', 'MONTH', 'INT_LAT', 'INT_LNG', 'INT_LAT_LNG']]
import2020.head()

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,INT_LAT,INT_LNG,INT_LAT_LNG
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1,54.54,25.19,"54.54, 25.19"
1,CGP,HSCYDT,0003,EUROPEAN UNION,-,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1,54.54,25.19,"54.54, 25.19"
2,CGP,HSCYDT,0003,EUROPEAN UNION,-,125288,232062,41,"CLEVELAND, OH",125288,232062,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,2,54.54,25.19,"54.54, 25.19"
3,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,125288,232062,41,"CLEVELAND, OH",125288,232062,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,2,54.54,25.19,"54.54, 25.19"
4,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,1168,1168,10,"NEW YORK CITY, NY",1168,1168,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,3,54.54,25.19,"54.54, 25.19"

In [34]:
import2020 = pd.merge(import2020, usLatLon, how="inner", on="DISTRICT_NAME")
import2020.head()

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,...,INT_LAT_LNG,ZIP,US_LAT,US_LONG,CITY,STATE_ID,STATE,POPULATION,COUNTY_FIPS,US_LAT_LONG
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,...,"54.54, 25.19",44101,41.48924,-81.66736,Cleveland,OH,Ohio,610,39035,"41.48924,-81.66736"
1,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,...,"54.54, 25.19",44102,41.47524,-81.73766,Cleveland,OH,Ohio,45514,39035,"41.47524,-81.73765999999999"
2,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,...,"54.54, 25.19",44103,41.51720,-81.64237,Cleveland,OH,Ohio,16519,39035,"41.5172,-81.64237"
3,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,...,"54.54, 25.19",44104,41.48223,-81.62681,Cleveland,OH,Ohio,19640,39035,"41.48223,-81.62680999999999"
4,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,...,"54.54, 25.19",44105,41.45063,-81.63024,Cleveland,OH,Ohio,37211,39035,"41.45063,-81.63024"

In [35]:
# Create import2020 table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS import2020 (
    ID INT PRIMARY KEY,
    SUMMARY_LEVEL VARCHAR,
    SUMMARY_LEVEL_2 VARCHAR,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    COUNTRY_SUBCODE INT,
    GENERAL_VALUES_MONTH DOUBLE,
    GENERAL_VALUES_YEAR DOUBLE,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    MONTHLY_CONSUMPTION_VALUE DOUBLE,
    YEARLY_CONSUMPTION_VALUE DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR
    )
""")

2021-02-08 22:05:25,502 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS import2020 (
    ID INT PRIMARY KEY,
    SUMMARY_LEVEL VARCHAR,
    SUMMARY_LEVEL_2 VARCHAR,
    COUNTRY_CODE INT,
    COUNTRY_NAME VARCHAR,
    COUNTRY_SUBCODE INT,
    GENERAL_VALUES_MONTH DOUBLE,
    GENERAL_VALUES_YEAR DOUBLE,
    DISTRICT INT,
    DISTRICT_NAME VARCHAR,
    MONTHLY_CONSUMPTION_VALUE DOUBLE,
    YEARLY_CONSUMPTION_VALUE DOUBLE,
    COMMODITY_DESCRIPTION VARCHAR,
    COMMODITY INT,
    YEAR INT,
    MONTH INT,
    INT_LAT FLOAT( 10, 6 ),
    INT_LNG FLOAT( 10, 6 ),
    INT_LAT_LNG VARCHAR,
    ZIP INT,
    US_LAT DOUBLE,
    US_LONG DOUBLE,
    CITY STR,
    STATE_ID STR,
    STATE STR,
    POPULATION INT,
    US_LAT_LONG STR
    )

2021-02-08 22:05:25,505 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:05:25,513 INFO sqlalchemy.engine.base.Engine COMMIT

In [38]:
export2019.index.names=["ID"]
export2020.index.names=["ID"]
import2020.index.names=["ID"]
import2019.index.names=["ID"]
covid2020.index.names=["ID"]
IntLatLng.index.names=["ID"]
#usLatLon.index.names=["ID"]

In [39]:
# insert data into the DB
export2019.to_sql("export2019", conn, if_exists="append")
export2020.to_sql("export2020", conn, if_exists="append")
import2019.to_sql("import2019", conn, if_exists="append")
import2020.to_sql("import2020", conn, if_exists="append")
covid2020.to_sql("covid2020", conn, if_exists="append")
IntLatLng.to_sql("IntLatLng", conn, if_exists="append")
#usLatLon.to_sql("usLatLon", conn, if_exists="append")

2021-02-08 22:06:01,610 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("export2019")
2021-02-08 22:06:01,611 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 22:06:03,049 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-08 22:07:06,826 INFO sqlalchemy.engine.base.Engine INSERT INTO export2019 ("ID", "COUNTRY_CODE", "COUNTRY_NAME", "DOMESTIC_FOREIGN_CODE", "DISTRICT", "DISTRICT_NAME", "ALL_VALUES_MONTH", "ALL_VALUES_YEAR", "COMMODITY_DESCRIPTION", "COMMODITY", "YEAR", "MONTH", "INT_LAT", "INT_LNG", "INT_LAT_LNG", "ZIP", "US_LAT", "US_LONG", "CITY", "STATE_ID", "STATE", "POPULATION", "COUNTY_FIPS", "US_LAT_LONG") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-08 22:07:06,941 INFO sqlalchemy.engine.base.Engine ((0, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 267236, 267236, 'ACRYLONITRILE', 2926100000, 2019, 1, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (1, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 267236, 267236, 'ACRYLONITRILE', 2926100000, 2019, 1, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (2, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 209401, 476637, 'ACRYLONITRILE', 2926100000, 2019, 2, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (3, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 209401, 476637, 'ACRYLONITRILE', 2926100000, 2019, 2, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (4, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 165865, 642502, 'ACRYLONITRILE', 2926100000, 2019, 3, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (5, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 165865, 642502, 'ACRYLONITRILE', 2926100000, 2019, 3, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (6, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 159524, 802026, 'ACRYLONITRILE', 2926100000, 2019, 4, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (7, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 159524, 802026, 'ACRYLONITRILE', 2926100000, 2019, 4, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517')  ... displaying 10 of 623497 total bound parameter sets ...  (623495, '5820', 'HONG KONG', '1', 49, 'SAN JUAN, PR', 0, 5000, 'POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBSTANC', 3904100000, 2019, 12, 22.3193, 114.1694, '22.3193, 114.1694', 927, 18.38875, -66.07189, 'San Juan', 'PR', 'Puerto Rico', 13351, 72127, '18.38875,-66.07189'), (623496, '5820', 'HONG KONG', '1', 49, 'SAN JUAN, PR', 0, 5000, 'POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBSTANC', 3904100000, 2019, 12, 22.3193, 114.1694, '22.3193, 114.1694', 936, 18.39548, -66.07376, 'San Juan', 'PR', 'Puerto Rico', 812, 72127, '18.39548,-66.07376'))
2021-02-08 22:07:06,981 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) table export2019 has no column named COUNTY_FIPS
[SQL: INSERT INTO export2019 ("ID", "COUNTRY_CODE", "COUNTRY_NAME", "DOMESTIC_FOREIGN_CODE", "DISTRICT", "DISTRICT_NAME", "ALL_VALUES_MONTH", "ALL_VALUES_YEAR", "COMMODITY_DESCRIPTION", "COMMODITY", "YEAR", "MONTH", "INT_LAT", "INT_LNG", "INT_LAT_LNG", "ZIP", "US_LAT", "US_LONG", "CITY", "STATE_ID", "STATE", "POPULATION", "COUNTY_FIPS", "US_LAT_LONG") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((0, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 267236, 267236, 'ACRYLONITRILE', 2926100000, 2019, 1, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (1, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 267236, 267236, 'ACRYLONITRILE', 2926100000, 2019, 1, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (2, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 209401, 476637, 'ACRYLONITRILE', 2926100000, 2019, 2, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (3, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 209401, 476637, 'ACRYLONITRILE', 2926100000, 2019, 2, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (4, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 165865, 642502, 'ACRYLONITRILE', 2926100000, 2019, 3, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (5, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 165865, 642502, 'ACRYLONITRILE', 2926100000, 2019, 3, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (6, '0023', 'NATO', '-', 7, 'OGDENSBURG, NY', 159524, 802026, 'ACRYLONITRILE', 2926100000, 2019, 4, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517'), (7, '0023', 'NATO', '1', 7, 'OGDENSBURG, NY', 159524, 802026, 'ACRYLONITRILE', 2926100000, 2019, 4, 50.8503, 4.3517, '50.8503, 4.3517', 13669, 44.644090000000006, -75.49517, 'Ogdensburg', 'NY', 'New York', 15782, 36089, '44.644090000000006,-75.49517')  ... displaying 10 of 623497 total bound parameter sets ...  (623495, '5820', 'HONG KONG', '1', 49, 'SAN JUAN, PR', 0, 5000, 'POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBSTANC', 3904100000, 2019, 12, 22.3193, 114.1694, '22.3193, 114.1694', 927, 18.38875, -66.07189, 'San Juan', 'PR', 'Puerto Rico', 13351, 72127, '18.38875,-66.07189'), (623496, '5820', 'HONG KONG', '1', 49, 'SAN JUAN, PR', 0, 5000, 'POLYVINYL CHLORIDE,NOT MIXED WITH ANY OTH SUBSTANC', 3904100000, 2019, 12, 22.3193, 114.1694, '22.3193, 114.1694', 936, 18.39548, -66.07376, 'San Juan', 'PR', 'Puerto Rico', 812, 72127, '18.39548,-66.07376'))]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [42]:
#testing sql db connection 
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("Resources/data/importexport.db")

cur = con.cursor()

# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM export2019;'):
    print(row)

# Be sure to close the connection
con.close()