In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
# read in export csvs
export2019=pd.read_csv('Resources/ExportData2019.csv')
export2020=pd.read_csv('Resources/ExportData2020.csv')

export2019.columns

Index(['COUNTRY_CODE', 'COUNTRY_NAME', 'DOMESTIC_FOREIGN_CODE', 'DISTRICT',
       'DISTRICT_NAME', 'ALL_VALUES_MONTH', 'ALL_VALUES_YEAR',
       'COMMODITY_DESCRIPTION', 'COMMODITY', 'YEAR', 'MONTH'],
      dtype='object')

In [3]:
# read in import csvs
import2019=pd.read_csv('Resources/ImportData2019.csv')
import2020=pd.read_csv('Resources/ImportData2020.csv')

import2020.columns

Index(['SUMMARY_LEVEL', 'SUMMARY_LEVEL_2', 'COUNTRY_CODE', 'COUNTRY_NAME',
       'COUNTRY_SUBCODE', 'GENERAL_VALUES_MONTH', 'GENERAL_VALUES_YEAR',
       'DISTRICT', 'DISTRICT_NAME', 'MONTHLY_CONSUMPTION_VALUE',
       'YEARLY_CONSUMPTION_VALUE', 'COMMODITY_DESCRIPTION', 'COMMODITY',
       'YEAR', 'MONTH'],
      dtype='object')

In [4]:
# clean dfs
export2019 = export2019[['COMMODITY_DESCRIPTION','ALL_VALUES_YEAR','YEAR']]
export2020 = export2020[['COMMODITY_DESCRIPTION','ALL_VALUES_YEAR','YEAR']]

import2019 = import2019[['COMMODITY_DESCRIPTION','GENERAL_VALUES_YEAR','YEAR']]
import2020 = import2020[['COMMODITY_DESCRIPTION','GENERAL_VALUES_YEAR','YEAR']]

In [5]:
# save years as str
export2019['YEAR'] = export2019['YEAR'].astype(str)
export2020['YEAR'] = export2020['YEAR'].astype(str)


import2019['YEAR'] = export2020['YEAR'].astype(str)
import2020['YEAR'] = export2020['YEAR'].astype(str)

In [6]:
# summarize by commodity description
export2019_total = export2019.groupby('COMMODITY_DESCRIPTION', as_index=False).sum()
export2019_total['YEAR'] = '2019'
export2019_total

                         COMMODITY_DESCRIPTION  ALL_VALUES_YEAR  YEAR
0                   Medically-Treated Bandages      56653209550  2019
1                  Medication (measured doses)    1555522342246  2019
2                Medication (unmeasured doses)      94386703980  2019
3                           Surgical Equipment     132942658676  2019
4  Vaccines, Blood, and Immunological products    1736170259520  2019

In [7]:
# summarize by commodity description
export2020_total = export2020.groupby('COMMODITY_DESCRIPTION', as_index=False).sum()
export2020_total['YEAR'] = '2020'
export2020_total

                         COMMODITY_DESCRIPTION  ALL_VALUES_YEAR  YEAR
0                   Medically-Treated Bandages      58274196388  2020
1                  Medication (measured doses)    1520464321480  2020
2                Medication (unmeasured doses)     108066128816  2020
3                           Surgical Equipment     115045272448  2020
4  Vaccines, Blood, and Immunological products    1709636560162  2020

In [8]:
# summarize by commodity description
import2019_total = import2019.groupby('COMMODITY_DESCRIPTION', as_index=False).sum()
import2019_total['YEAR'] = '2019'
import2019_total

                         COMMODITY_DESCRIPTION  GENERAL_VALUES_YEAR  YEAR
0                   Medically-Treated Bandages          76824005198  2019
1                  Medication (measured doses)        4604891597872  2019
2                Medication (unmeasured doses)          30167516080  2019
3                           Surgical Equipment         285639775566  2019
4  Vaccines, Blood, and Immunological products        2909527362728  2019

In [9]:
# summarize by commodity description
import2020_total = import2020.groupby('COMMODITY_DESCRIPTION', as_index=False).sum()
import2020_total['YEAR'] = '2020'
import2020_total

                         COMMODITY_DESCRIPTION  GENERAL_VALUES_YEAR  YEAR
0                   Medically-Treated Bandages          79023498186  2020
1                  Medication (measured doses)        4867396009870  2020
2                Medication (unmeasured doses)          63090914774  2020
3                           Surgical Equipment         237865874692  2020
4  Vaccines, Blood, and Immunological products        3437552303284  2020

In [10]:
# merge export dfs
yoy_export = export2019_total.merge(export2020_total, how='inner', on='COMMODITY_DESCRIPTION')
yoy_export

,COMMODITY_DESCRIPTION,ALL_VALUES_YEAR_x,YEAR_x,ALL_VALUES_YEAR_y,YEAR_y
0,Medically-Treated Bandages,56653209550,2019,58274196388,2020
1,Medication (measured doses),1555522342246,2019,1520464321480,2020
2,Medication (unmeasured doses),94386703980,2019,108066128816,2020
3,Surgical Equipment,132942658676,2019,115045272448,2020
4,"Vaccines, Blood, and Immunological products",1736170259520,2019,1709636560162,2020

In [11]:
# clean column headers
yoy_export = yoy_export.rename(columns={'ALL_VALUES_YEAR_x':'EXPORTS_2019',
       'ALL_VALUES_YEAR_y':'EXPORTS_2020'})
yoy_export=yoy_export[['COMMODITY_DESCRIPTION', 'EXPORTS_2019',
       'EXPORTS_2020']]
yoy_export

                         COMMODITY_DESCRIPTION   EXPORTS_2019   EXPORTS_2020
0                   Medically-Treated Bandages    56653209550    58274196388
1                  Medication (measured doses)  1555522342246  1520464321480
2                Medication (unmeasured doses)    94386703980   108066128816
3                           Surgical Equipment   132942658676   115045272448
4  Vaccines, Blood, and Immunological products  1736170259520  1709636560162

In [12]:
# merge import dfs
yoy_import = import2019_total.merge(import2020_total, how='inner', on='COMMODITY_DESCRIPTION')
yoy_import

,COMMODITY_DESCRIPTION,GENERAL_VALUES_YEAR_x,YEAR_x,GENERAL_VALUES_YEAR_y,YEAR_y
0,Medically-Treated Bandages,76824005198,2019,79023498186,2020
1,Medication (measured doses),4604891597872,2019,4867396009870,2020
2,Medication (unmeasured doses),30167516080,2019,63090914774,2020
3,Surgical Equipment,285639775566,2019,237865874692,2020
4,"Vaccines, Blood, and Immunological products",2909527362728,2019,3437552303284,2020

In [13]:
yoy_import.columns

Index(['COMMODITY_DESCRIPTION', 'GENERAL_VALUES_YEAR_x', 'YEAR_x',
       'GENERAL_VALUES_YEAR_y', 'YEAR_y'],
      dtype='object')

In [14]:
# clean column headers
yoy_import = yoy_import.rename(columns={'GENERAL_VALUES_YEAR_x':'IMPORTS_2019',
       'GENERAL_VALUES_YEAR_y':'IMPORTS_2020'})
yoy_import=yoy_import[['COMMODITY_DESCRIPTION', 'IMPORTS_2019',
       'IMPORTS_2020']]
yoy_import

                         COMMODITY_DESCRIPTION   IMPORTS_2019   IMPORTS_2020
0                   Medically-Treated Bandages    76824005198    79023498186
1                  Medication (measured doses)  4604891597872  4867396009870
2                Medication (unmeasured doses)    30167516080    63090914774
3                           Surgical Equipment   285639775566   237865874692
4  Vaccines, Blood, and Immunological products  2909527362728  3437552303284

In [15]:
yoy_import_export = yoy_export.merge(yoy_import, how='inner', on='COMMODITY_DESCRIPTION')
yoy_import_export

,COMMODITY_DESCRIPTION,EXPORTS_2019,EXPORTS_2020,IMPORTS_2019,IMPORTS_2020
0,Medically-Treated Bandages,56653209550,58274196388,76824005198,79023498186
1,Medication (measured doses),1555522342246,1520464321480,4604891597872,4867396009870
2,Medication (unmeasured doses),94386703980,108066128816,30167516080,63090914774
3,Surgical Equipment,132942658676,115045272448,285639775566,237865874692
4,"Vaccines, Blood, and Immunological products",1736170259520,1709636560162,2909527362728,3437552303284

In [16]:
# write to csv
yoy_export.to_csv("Resources/yoy_export.csv", encoding="utf-8", index=False)
yoy_import.to_csv("Resources/yoy_import.csv", encoding="utf-8", index=False)
yoy_import_export.to_csv("Resources/yoy_import_export.csv", encoding="utf-8", index=False)